TESSTRAIN_SOLUTION/tesstrain/

!TESSTRAIN_SOLUTION/tesstrain/data/Bradley_Hand_ITC-ground-truth/sample_0.png

!TESSTRAIN_SOLUTION\tesstrain\data\Brush_Script_MT_Italic-ground-truth\sample_0.png

!TESSTRAIN_SOLUTION/tesstrain/data/Juice_ITC-ground-truth/sample_0.png

!TESSTRAIN_SOLUTION/tesstrain/data/Stencil-ground-truth/sample_0.png

!TESSTRAIN_SOLUTION\tesstrain\data\Vladimir_Script_Regular-ground-truth\sample_0.png